<%= turbo_frame_tag spot do %>
  <%= form_with model: spot, url: group_trip_spot_path, data: { action: 'turbo:submit-end->modal#close' } do |f| %> 
    <%= render "shared/error_message", object: f.object %>
    <div class="mb-3">
      <%= f.label :旅行日 %> 
      <div class="form-control"><%= spot.date %></div>
    </div>
    <div class="mb-3">
      <%= f.label :旅行スポット %> 
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= f.label :場所 %> 
    <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :開始時間 %>
      <%= f.time_field :start_time, class: "form-control" %> 
    </div>
    <div class="mb-3">
      <%= f.label :終了時間 %>
      <%= f.time_field :end_time, class: "form-control" %> 
    </div>
    <%= f.hidden_field :prefecture, value: spot.prefecture %>
    <%= f.hidden_field :group_id, value: spot.group_id %>
    <%= f.submit "保存", class: "btn btn-outline-primary" %>
  <% end %>
<% end %>
