<% content_for :js do %>
  <%= javascript_import_module_tag "spot_googlemap" %>
<% end %>

<div class="container pb-4">
  <div class="row align-items-md-stretch">
    <div class="col-lg-6">
      <div class="h-100 p-4 text-bg-light border rounded-3">
        <h3>PLACES VISITED</h3>
          <p>新しくスポットを登録してください。<br>登録したスポットが地図上に表示されます。</p>
        <div id="map_index" style="height: 500px; width: 100%;"></div>
        <div class="p-1 mb-1 bg-body text-body">
          <div class="d-flex flex-low">
            <ul class="m-0">
              <li class="list-group-item">出発地点</li>
              <li class="list-group-item">到着地点</li>
            </ul>
            <ul id = "route-list" class="m-0"></ul>
          </div>
        </div>
        <ul id = "display-list" class = "display-group"></ul>
        <%= button_tag "ルート検索", id: "btn-search", class: "btn btn-primary", onclick: "search()" %>
        <%= button_tag "リセット", id: "btn-search2", class: "btn btn-primary", onclick: "reset()" %>
        <p class="mt-3 mb-0">ルートを検索するには、ピンをクリックして地点の追加をしてください。</p>
      </div>
    </div>

    <div class="col-lg-6 mt-lg-0 mt-4">
      <div class="h-100 p-4 bg-body-tertiary border rounded-3">
        <h3 class="m-0">TRAVEL LISTS</h3>
        <div class="overflow-auto">
          <div class="container max-width">
            <h4 class="md-3 text-center"><%= @trip.title %></h4>
            <div class="my-3 p-3 bg-body rounded shadow-sm", id= "start_date">
              <h6 class="border-bottom pb-2 mb-0"><%= @trip.start_date %></h6>
              <% spots = Spot.where(date: @trip.start_date,trip_id: @trip.id).order(:start_time) %>
              <% spots.each do |spot| %>
                <div class="d-flex text-body-secondary pt-2">
                  <div class="pb-1 mb-0 small lh-sm border-bottom w-100">
                    <div class="d-flex justify-content-between">
                      <div>
                        <span class="d-block"><%= spot.start_time.strftime("%H:%M")  %></span>
                        <span class="d-block text-center">|</span>
                        <span class="d-block"><%= spot.end_time.strftime("%H:%M")  %></span>
                      </div>
                      <div>
                        <h5 class="text-gray-dark text-center"><%= truncate(spot.address, length: 9) %></h5>
                        <div class="text-gray-dark text-center"><%= truncate(spot.memo, length: 10) %></div>
                      </div> 
                      <div>
                        <span class="d-block">
                          <%= link_to image_tag("trash.svg"), group_trip_spot_path(@group,@trip,spot), data: { turbo_frame: "modal" }, id: "delete"  %> 
                        </span>
                        <span class="d-block">
                          <%= link_to image_tag("pencil-square.svg"), edit_group_trip_spot_path(@group, @trip, spot), data: { turbo_frame: "modal" }, id: "edit" %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="text-center">
              <%= link_to "+ スポット追加", new_group_trip_spot_path(trip_date:@trip.start_date),class: "btn btn-outline-secondary mt-3", data: { turbo_frame: "modal" } %>
              </div>
            </div>
            <div id= "middle_date">
              <% @dates.each do |date| %>
                <div class="my-3 p-3 bg-body rounded shadow-sm">
                  <h6 class="border-bottom pb-2 mb-0"><%= date %></h6>
                  <% spots = Spot.where(date: date,trip_id: @trip.id).order(:start_time) %>
                  <% spots.each do |spot| %>
                    <div class="d-flex text-body-secondary pt-2">
                      <div class="pb-1 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                          <div>
                          <span class="d-block"><%= spot.start_time.strftime("%H:%M")  %></span>
                          <span class="d-block text-center">|</span>
                          <span class="d-block"><%= spot.end_time.strftime("%H:%M")  %></span>
                          </div>
                          <div>
                            <h5 class="text-gray-dark text-center"><%= truncate(spot.address, length: 9) %></h5>
                            <div class="text-gray-dark text-center"><%= truncate(spot.memo, length: 10) %></div>
                          </div>
                          <div>
                            <span class="d-block">
                              <%= link_to image_tag("trash.svg"), group_trip_spot_path(@group,@trip,spot), data: { turbo_frame: "modal" }, id: "delete"  %> 
                            </span>
                            <span class="d-block">
                              <%= link_to image_tag("pencil-square.svg"), edit_group_trip_spot_path(@group, @trip, spot), data: { turbo_frame: "modal" }, id: "edit" %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="text-center">
                    <%= link_to "+ スポット追加", new_group_trip_spot_path(trip_date:date),class: "btn btn-outline-secondary mt-3", data: { turbo_frame: "modal" }  %>
                  </div>
                </div>
              <% end %>
            </div>

            <% if @trip.start_date != @trip.end_date %>
              <div class="my-3 p-3 bg-body rounded shadow-sm", id= "end_date">
                <h6 class="border-bottom pb-2 mb-0"><%= @trip.end_date %></h6>
                <% spots = Spot.where(date: @trip.end_date,trip_id: @trip.id).order(:start_time) %>
                <% spots.each do |spot| %>
                  <div class="d-flex text-body-secondary pt-2">
                    <div class="pb-1 mb-0 small lh-sm border-bottom w-100">
                      <div class="d-flex justify-content-between">
                        <div>
                          <span class="d-block"><%= spot.start_time.strftime("%H:%M")  %></span>
                          <span class="d-block text-center">|</span>
                          <span class="d-block"><%= spot.end_time.strftime("%H:%M")  %></span>
                        </div>
                        <div>
                          <h5 class="text-gray-dark text-center"><%= truncate(spot.address, length: 9) %></h5>
                          <div class="text-gray-dark text-center"><%= truncate(spot.memo, length: 10) %></div>
                        </div> 
                        <div>
                          <span class="d-block">
                            <%= link_to image_tag("trash.svg"), group_trip_spot_path(@group,@trip,spot), data: { turbo_frame: "modal" }, id: "delete" %> 
                          </span>
                          <span class="d-block">
                            <%= link_to image_tag("pencil-square.svg"), edit_group_trip_spot_path(@group, @trip, spot), data: { turbo_frame: "modal" }, id: "edit" %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="text-center">
                <%= link_to "+ スポット追加", new_group_trip_spot_path(trip_date:@trip.end_date),class: "btn btn-outline-secondary mt-3", data: { turbo_frame: "modal" } %>
                </div>
              </div>
            <% end %>
          </div>             
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&loading=async&callback=initMap"defer></script>
