<div>グループ名：<%= @group.name %></div>
<div>紹介：<%= @group.introduction %></div>
<% @group.users.each do |member| %>
  <div>メンバー：<%= member.email %></div>
<% end %>


<% if @group.group_users.exists?(user_id: current_user.id) %>
  <%= link_to "脱退する", group_exit_path(@group), data: { turbo_method: :delete } %>
<% elsif @group.permits.exists?(user_id: current_user.id) %>
  <%= link_to '申請取消', group_permit_path(@group), data: { turbo_method: :delete } , class: "btn btn-sm btn-danger" %>
<% else %>
  <%= link_to '加入申請', group_permits_path(@group), data: { turbo_method: :post } , class: "btn btn-sm btn-success" %>
<% end %>

<%= link_to "承認待ち一覧", group_permits_path(@group) %>
