<div class="container max-width">
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <div>
        <div class="d-flex justify-content-between align-items-center">
        <h5 class="md-3">マイページ</h5>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "50x50") %>
        <% else %>
          <%= image_tag "user_no-image.png", size: "50x50" %>
        <% end %>
        </div>
        <div class="mt-3">
          <div>メールアドレス</div>
          <div class="form-control"><%= @user.email %></div>
        
        </div>
        <%= link_to "編集", edit_user_registration_path(@user), class: "btn btn-outline-secondary mt-3" %>
      </div>
      <div>-----------------------------------------------</div>
      <h5 class="mt-3">グループ一覧</h5>
      <% @groups.each do |group| %>
        <div class="d-flex justify-content-between align-items-center">
          <div class="mb-3">
            <div><%= group.name %></div>
          </div>  
          <% if group.owner_id == current_user.id and group.permits.exists? %>
            <%= link_to "申請あり", group_permits_path(group), data: { turbo_frame: "modal" }, class: "btn btn-sm btn-outline-danger" %>
          <% elsif group.owner_id == current_user.id %>
            <%= link_to "削除", group_path(group), data: { turbo_frame: "modal" }, class: "btn btn-sm btn-outline-secondary" %> 
          <% else %>
            <%= link_to "脱退する", group_path(group), data: { turbo_frame: "modal" }, class: "btn btn-sm btn-outline-secondary" %> 
          <% end %>
        </div>
      <% end %>
      <% if @requests.exists? %>
        <div>-----------------------------------------------</div>
        <h5 class="mt-3">申請中グループ</h5>
          <% @requests.each do |request| %>
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div><%= request.group.name %></div>
              <%= button_to "加入申請取消", group_permit_path(request.group), method: :delete, data: { turbo: false }, class: "btn btn-sm btn-success" %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
