<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>


  <body>
    <header class="py-3 border-bottom">
      <div class="mx-4 d-flex">
        <div class="header-title me-auto">
          <%= link_to "OTOMOTABI", root_path, class: "fs-2 text-reset link-underline link-underline-opacity-0" %>
        </div>
      
        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
            <div class="nav-item dropdown me-5">
              <% if @groups.exists? %>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  旅行一覧
                </a>
                <ul class="dropdown-menu">
                  <% @groups.each do |group| %>
                    <li><%= link_to group.name, group_trips_path(group), data: {"turbo" => false}, class: "dropdown-item" %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="flex-shrink-0 dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar.variant(resize: "50x50") %>
              <% else %>
                <%= image_tag "user_no-image.png", size: "50x50" %>
              <% end %>
              </a>
              <ul class="dropdown-menu text-small shadow">
                <li><%= link_to "マイページ", user_path(current_user), class: "dropdown-item" %></li>
                <li><%= link_to "グループ一覧", groups_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
              </ul>
            </div>
          </div>
        <% else %>
        <div class="align-self-center">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "新規作成", new_user_registration_path, class: "btn btn-outline-secondary" %>
        </div>
         
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <%= turbo_frame_tag 'modal' %>

  <% if flash[:notice] %>
    <div class="alert alert-primary" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= alert %>
    </div>
  <% end %>
  
  <%= yield %>
  </body>
</html>
